@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 428px;
  width: 100%;
  height: 926px;
  background-image: url("./assets/img/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cell {
  @apply w-[3.5rem] h-[3.5rem] bg-[#FFFFFF1A] flex items-center justify-center rounded-lg duration-200 ease-in border border-[#ffffffa8];
}
.hover-bg-gradient-img:hover {
  background-color: #82e024; /* зелёный фон */
  background-image: linear-gradient(
      rgba(130, 224, 36, 0.25),
      rgba(0, 0, 0, 0) 86%,
      rgba(255, 214, 0, 0.15)
    ),
    url("/src/assets/img/Field/light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.66);
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}
