@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
h3 {
  font-weight: 800;
  font-size: 18px;
}
.wrapper {
  @apply flex flex-col gap-8 justify-center items-center m-auto max-w-[428px] w-full h-[926px] bg-no-repeat bg-cover bg-center bg-[url('src/assets/img/Bg.png')];
}
.container {
  @apply max-w-[346px] w-full;
}
.cell {
  @apply w-[3.5rem] h-[3.5rem] bg-[#FFFFFF1A] flex items-center justify-center rounded-lg duration-200 ease-in border border-[#ffffffa8];
}
.hover-bg-gradient-img:hover {
  background-color: #82e024;
  background-image: linear-gradient(
      rgba(130, 224, 36, 0.25),
      rgba(0, 0, 0, 0) 86%,
      rgba(255, 214, 0, 0.15)
    ),
    url("/src/assets/img/Field/light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.66);
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}
.cube {
  perspective: 1000px;
  width: 72px;
  height: 72px;
  margin: 50px auto;
  background-color: red;
  border-radius: 10px;
}

.cube-container {
  width: 72px;
  height: 72px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.face {
  @apply absolute bg-no-repeat  w-[72px] h-[72px] bg-cover;
}
.cube-container__face {
  @apply absolute w-[72px] h-[72px] p-1 rounded-[15px] bg-[linear-gradient(135deg,_hsl(0_0%_100%)_0%,_hsl(344_0%_60%)_100%)];
}
.cube-container__pip {
  @apply w-full h-full flex items-center justify-center rounded-[16px] bg-[linear-gradient(123deg,_hsl(0_0%_82%)_0%,_hsl(344_0%_92%)_50%,_hsl(0_0%_100%)_100%)];
}
.cube-container__face:nth-child(1) {
  transform: translateZ(36px);
}
.cube-container__face:nth-child(2) {
  transform: rotateY(180deg) translateZ(36px);
}
.cube-container__face:nth-child(3) {
  transform: rotateY(90deg) translateZ(36px);
}
.cube-container__face:nth-child(4) {
  transform: rotateY(-90deg) translateZ(36px);
}
.cube-container__face:nth-child(5) {
  transform: rotateX(90deg) translateZ(36px);
}
.cube-container__face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(36px);
}

.roll-btn {
  background-image: linear-gradient(
    180deg,
    hsl(90, 74%, 43%) 0%,
    hsl(90, 74%, 29%) 100%
  );
  border-radius: 5px;
  color: white;
  padding: 8px 0;
  cursor: pointer;
}
